footer
  
  .ed-container.cross-center
    .ed-item.m-50
      img(src="img/logo-footer.png" alt="Logo")
    .ed-item.m-50.main-center
      p
        strong Horarios de atención de Lunes a Viernes de 8:00 a 21:00hs<br/>Sábados de 8:00 a 13:30hs.
      

script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
script(src="js/menu.js")
