head
  title Bienvenidos a Farmacia Ojeda
  
  meta(charset="utf-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
  meta(name="description" content="Ubicados en La Plata al servicio de la ciudad - Diagonal 80 y 49 - Teléfonos: 421-7018 / 482-5181 / 421-7700")
  
  link(href="https://file.myfontastic.com/UjaRFH93r2AVaaBx4AVH5Y/icons.css" rel="stylesheet")
  link(rel="stylesheet" href="css/styles.css")
  link(rel="shortcut icon" href="img/icono.png" type="image/png")
