header.body_header
  .ed-container.cross-center

    .ed-item.s-80.l-30.logo
      a(href="index.html")
        img(src="img/logo-header.png" alt="Logo de Farmacia Ojeda")
    
    .ed-item.s-20.to-l.main-end
      .icon-bars#toggle-menu
    .ed-item.l-70.main-end
      nav
        ul.main-menu#main-menu
          li: a(href="index.html") Inicio
          li: a(href="servicio.html") Servicios
          li: a(href="promos.html") Promos
          li: a(href="turnos.html") Turnos
          li: a(href="contacto.html") Contacto
