doctype html
html
  
  include blocks/head.pug
  
  body  
    
    include blocks/header.pug
    
    section
      ul.main-center
        li.m-45
          img(src="img/promos/portada-promo.png")
        li.m-45
          img(src="img/promos/promo-1.jpg")
        li.m-45
          img(src="img/promos/promo-2.jpg")
        li.m-45
          img(src="img/promos/promo-3.jpg")
        li.m-45
          img(src="img/promos/promo-4.jpg")
        li.m-45
          img(src="img/promos/promo-5.jpg")
        li.m-45
          img(src="img/promos/promo-6.jpg")
        li.m-45
          img(src="img/promos/promo-7.jpg")
    include blocks/footer.pug
