doctype html
html
  
  include blocks/head.pug
  
  body
    
      include blocks/header.pug
      
      section.section_servicio
        article.ed-container.home_article
          .ed-item.m-45.main-center
            img(src="img/foto-estacionamiento.png" alt="Foto de la cochera")
          .ed-item.m-55.cross-center
            p Presentando su ticket de compra usted dispone de 1 hora Gratis en Estacionamiento Belgrano, enfrente de la farmacia.
                
        article.ed-container.home_article
          .ed-item.m-55.cross-center
            p Envios a domicilio SIN CARGO dentro de la ciudad de La Plata, de lunes a sábados.
          .ed-item.m-45.main-center
            img(src="img/envios-domicilio.png" alt="Envios a domicilio")

        article.ed-container.home_article
          .ed-item.m-45.main-center
            img(src="img/foto-laboratorio.png" alt="Foto de la cochera")
          .ed-item.m-55.cross-center
            p Laboratorio de preparados magistrales bajo “buenas prácticas de preparados magistrales” que significa “Calidad”.

        article.ed-container.home_article
          .ed-item.m-55.cross-center
            p Gabinete de aplicaciones y control de presión arterial, con un seguimiento personalizado de sus resultados. Las aplicaciones son realizadas por nuestros farmacéuticos bajo orden médica según lo establece el Ministerio de Salud de la Provincia de Buenos Aires, Resolución N° 1732/58 y N° 1460/11.
          .ed-item.m-45.main-center
            img(src="img/foto-gabinete.png" alt="Envios a domicilio")

        article.ed-container.home_article
          .ed-item.m-45.main-center
            img(src="img/foto-diabetes.png" alt="Foto de la cochera")
          .ed-item.m-55.cross-center
            ul
              li: p Usted puede obtener el informe impreso de sus mediciones de glucosa, acercando a la farmacia su medidor ROCHE.
              li: p Contamos con todos los insumos necesarios para el tratamiento de la Diabetes de las marcas mas reconocidas del mercado, ROCHE, ABBOTT, BAYER Y JOHNSON Y JOHNSON.
              li: p  Amplio stock de insulinas.
        
      
      include blocks/footer.pug
