doctype html
html
  
  include blocks/head.pug
  
  body  
    
    include blocks/header.pug
    
    section.ed-container.main-center
      img(src="img/turnos.jpeg").turnos-img
    
    include blocks/footer.pug
